# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# AI Models (Weights are large, keep only the best production weights)
models/
*.pt
*.engine
*.torchscript
!data/combined/models/best.pt

# Folders to Exclude (Per User Request)
data/
backup/

# Logs & OS
logs/
.DS_Store
Thumbs.db
.vscode/
